@{
    ViewBag.Title = "Информация";
}
<h3>@ViewBag.Title.</h3>

<p>Поздравляю, что вы пользуетесь продуктом. Если будут вопросы тюкни на вкладку "Контакты", там будет информация как со мной связаться.</p>
