@{
    ViewBag.Title = "Контакты";
}
<h3>@ViewBag.Title.</h3>

<address>
    Адресс: Казахстан, г.Костанай, ул.Ворошилова, кв.29<br />
    Телефон: +77712714497<br />
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:i@abolotov.ru">i@abolotov.ru</a><br />
</address>